.node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #9089BF;
  stroke-opacity: .25;
}

.link:hover {
  stroke: #54506F;
  stroke-opacity: .75;
}

#filters .filter {
 margin: 20px;
 padding: 20px;
 display: inline-block;
 float: left;
 border: 3px dashed #aaa;
}

label {
  display: block;
}